<table class='table table-hover table-striped'>
  <tr>
    <th>Meal</th>
    <th>Vote Count</th>
    <th>Tally</th>
  </tr>
  <% Choices.each do |id, text| %>
    <tr>
      <td><%= text %></td>
      <td><%= @votes[id] || 0 %>
      <td><%= '#' * (@votes[id] || 0) %></td>
    </tr>
  <% end %>
</table>
<p><a href='/'>Cast more votes!</a></p>